/* display-tweets */

/* article profile content and tweet, the whole thing */
.tweet {
    border-radius: 5px;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    margin: 20px 0 0 0;
    height: 175px;
}

.tweet header {
    background-color: #eeeeee;
    border-radius: 5px 5px 0 0;
    width: 368px;
    height: 70px;
    padding: 10px 0 0 0;
    opacity: .65;
}


/*shoudl be an h2... decendent selector bc it is a child of the .tweet*/
/* .tweet < 3 */
.tweet h3 {
    display: inline;
    margin: 0;
}

.tweet:hover {
    border-color: #000;
}

.tweet:hover header {
    opacity: 1;
}

/* profile image */
.profile {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    float: left;
}

/* displys the tweet text in the section */
.tweet-content {
    height: 60px;
    padding: 0px;
    margin: 0 10px 0 10px;
}

/* @name */
.handle {
    font-size: 12px;
    font-weight: 300;
    float: right;
    margin: 5px 5px 0 0;
    color: darkgrey;
}

.tweet p {
    word-break: break-word;

}

/* time tweet was created */
.time-stamp {
    font-size: 10px;
    font-weight: 300;
    margin: 15px 0 0 5px;
    color: #000;
}



footer {
    border-top: solid;
    border-width: .5px;
    border-color: #efefef
}

footer .icon {
    width: 15px;
    float: right;
    margin: 4px 7px 0 5px;
    opacity: 0;
}

.tweet:hover .icon {
    opacity: 1;
}