/* display-tweets */

/* article profile content and tweet, the whole thing */
.tweet {
    border-radius: .4em;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 3px;
    margin: 20px 0 0 0;
    background-color: #fff;
    overflow: auto;
}

.tweet header {
    background-color: #eeeeee;
    border-radius: 5px 5px 0 0;
    width: 364px;
    height: 80px;
    padding: 10px 0 0 0;
    opacity: .65;
}

.tweet h3 {
    display: inline;
    margin: 0;
}

.tweet:hover {
    border-color: #000;
}

.tweet:hover header {
    opacity: 1;
}

.profile {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    float: left;
}

/* displys the tweet text in the section */
.tweet-content {
    padding: 0px;
    margin: 0 10px 0 10px;
    overflow: auto;
}

/* @name */
.handle {
    font-size: 14px;
    float: right;
    margin: 5px 5px 0 0;
    color: #000;
}

.tweet p {
    word-break: break-word;
    font-size: 20px;
    color: #000;

}

.time-stamp {
    font-size: 14px;
    margin: 15px 0 0 5px;
    color: #000;
}

footer {
    border-top: solid;
    border-color: #EFEFEF;
    border-width: .2em;
    padding: 5px 0 0 0;
}

footer .icon {
    width: 15px;
    float: right;
    margin: 6px;
    opacity: 0;
    margin: 0 6px 6px 6px;
}

.tweet:hover .icon {
    opacity: 1;
}

.tweet:hover footer {
    border-color: #000;
}