.new-tweet {
    background-color: #eeeeee;
    border-radius: 5px;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    padding: 0 10px 10px 10px;
}
/* .new-tweet is the parent class on the section that envelops textarea. */
.new-tweet textarea {
    overflow: auto;
    /* use em on width*/
    max-width: 100%;
    min-width: 100%;
    padding: 5px;

}

.new-tweet h2 {
    border-bottom: solid;
    border-width: 1px;
    margin: 10px 0 20px 0;
}

.counter {
    font-weight: 300;
    float: right;
    font-size: .85em;
    font-style: italic;
}

.counter-negative {
    color: red;
}

#max-error {
    display: none;
}

#empty-error {
    display: none;
}